#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        /* =========================
         * BASE (CAPA 0)
         * ========================= */
        rgb_layer_base: rgb_layer_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            bindings =
                /* Amarillo suave */
                <&rgb_ug RGB_HUI>,
                <&rgb_ug RGB_SAI>,
                <&rgb_ug RGB_BRI>;
        };

        /* =========================
         * KEYPAD (CAPA 1)
         * ========================= */
        rgb_layer_keypad: rgb_layer_keypad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            bindings =
                /* Azul */
                <&rgb_ug RGB_HUD>,
                <&rgb_ug RGB_SAD>,
                <&rgb_ug RGB_SPI>;
        };

        /* =========================
         * SYMBOL NAV (CAPA 2)
         * ========================= */
        rgb_layer_symbol: rgb_layer_symbol {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            bindings =
                /* Verde */
                <&rgb_ug RGB_SAI>,
                <&rgb_ug RGB_HUI>,
                <&rgb_ug RGB_BRI>;
        };

        /* =========================
         * MAGIC (CAPA 3)
         * ========================= */
        rgb_layer_magic: rgb_layer_magic {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            bindings =
                /* Rojo */
                <&rgb_ug RGB_HUD>,
                <&rgb_ug RGB_SAI>,
                <&rgb_ug RGB_BRD>;
        };
    };
};
