/ {
    layer_underglow {
        compatible = "zmk,layer-underglow";

        layer-0 {
            color = <94 234 242>;   // amarillo
        };

        layer-1 {
            color = <94 242 166>;     // azul
        };

        layer-2 {
            color = <244 180 94>;     // verde
        };
    };
};
